<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoolzApp</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app"
    @click="hideDropdown"
    >
      <div id="general-container">
        <div id="sidebar">
          <div class="toolbar">
            <div class="row">
              <div class="avatar-container">
                <img src="img/avatar_io.jpg" alt="" />
              </div>
              <div class="user-name">Nome Utente</div>
            </div>
            <div class="buttons-container">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div id="banner"></div>

          <div id="contact-list">
            <input
              v-model="nameSearch"
              @keyup="filterContacts"
              type="text"
              id="name-search"
              placeholder="Cerca o inizia nuova chat"
            />
            <ul>
              <li
                v-for="(contact, i) in contacts"
                @click="contactIndex = i"
                :class="{selected: contactIndex === i}"
              >
                <div v-if="contact.visible">
                  <div class="avatar-container">
                    <img :src="`img/avatar${contact.avatar}.jpg`" />
                  </div>
                  <div>
                    <div class="contact-name">{{ contact.name }}</div>
                    <div class="last-access">Ultimo accesso {{ getLastAccess() }}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div id="main">
          <div class="toolbar">
            <div class="row">
              <div class="avatar-container">
                <img
                  :src="`img/avatar${contacts[contactIndex].avatar}.jpg`"
                  alt=""
                />
              </div>
              <div>
                <div class="user-name">{{ contacts[contactIndex].name }}</div>
                <div class="last-access">
                  Ultimo accesso {{<!-- getLastAccess -->}}
                </div>
              </div>
            </div>

            <div class="buttons-container">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="conversation">
            <div
              v-for="(message, i) in contacts[contactIndex].messages"
              class="message-container"
            >
              <div class="message" :class="message.status">
                <div class="text">{{ message.text }}</div>
                <div class="time">{{ message.date }}</div>
                <div class="dropdown-button" @click.stop="showDropdown(i)"></div>
                <div class="dropdown" v-if="messageIndex === i">
                  <ul>
                    <li>Message info</li>
                    <li @click="deleteMessage(i, contacts[contactIndex].messages)">Delete message</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div id="message-input" class="toolbar">
            <div class="button"><i class="far fa-smile"></i></div>

            <input
              type="text"
              placeholder="Scrivi un messaggio"
              v-model="newMessage"
              @keyup.enter="inputMessage('user')"
            />

            <div class="button"><i class="fas fa-microphone"></i></div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
